*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background-color: #175c39;
}
/*页头区域*/
.header{
    min-width: 1200px;
    width: 100%;
    height: 50px;
    background-color: white;
}
/*页头导航栏区域*/
.guid{
    width: 1100px;
    height: 100%;
    line-height: 50px;
    position: relative;
}
ul.left-guid, ul.right-guid{
    padding-left: 0px;
}
/*头部左导航栏*/
ul.left-guid{
}
ul.left-guid li{
    margin-right: 30px;
    display: inline-block;
    font-size: 18px;
    font-family: "FangSong";
    font-weight: 400;
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}
li > a{
    color: black;
    text-decoration: none;
}
/*头部有导航栏*/
.right-guid{
    top: 0px;
    right: 50px;
    position: absolute;
}
ul.right-guid li{
    display: inline-block;
    font-size: 18px;
    font-family: "FangSong";
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}
.middle{
    width: 1100px;
    margin-top: 40px;
    background-color: white;
}
.search-type{
    font-size: 20px;
    font-family: "FangSong";
    font-weight: 400;
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}
.select{
    border-bottom: 6px solid #528969;
}
input[name='search-bar']:focus{
    outline: none;
}
.result_box{
    width: 700px;
    border: 4px solid #707070;
    border-top-color: transparent;
    display: none;
    position: relative;
    top: 50%;
    left: 22px;
    background-color: white;
    z-index: 999;
}
.result_box > ul{
    width: 100%;
    list-style: none;
    padding-left: 0px;
}
.result_box > ul > li{
    width: 90%;
    line-height: 30px;
    padding-left: 10px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: #707070 solid 1px;
}
.back-245{
    background-color: rgba(122, 122, 122, 0.8);
}
/*+图标*/
span{
    height:10px;
    width:10px;
    padding-right: 5px;
    display:inline-block;
    position:relative;
}
.plus:before, .plus:after{
    content:'';
    height:2px;
    width:10px;
    display:block;
    background:#333;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    position:absolute;
    top:4px;
    left:0px;
}
.plus:after{
    height:10px;
    width:2px;
    top:0;
    left:4px;
}
.minus:before{
    content:'';
    height:2px;
    width:10px;
    display:block;
    background:#333;
    position:absolute;
    top:4px;
    left:0px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
ul.tree{
    padding-left: 0px;
    list-style: none;
    overflow: scroll;
    height: 100%;
}
ul.sub-tree{
    list-style: none;
    padding-left: 10px;
}
ul.tree > li{
    border-top:2px solid #eee;
    padding-top : 10px;
    padding-bottom : 10px;
}
ul.tree > li, ul.sub-tree > li{
    width: 250px;
    vertical-align: middle;
    line-height: 26px;
    cursor: pointer;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: block;*/
}
.node,.leaf{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    vertical-align: bottom;
    vertical-align: bottom;
}
