.middle{
	/*min-height: 500px;
	height: auto;*/
	margin-bottom: 20px;
	padding-bottom: 50px;
}
.search-block{
	position: relative;
}
.search-type{
	margin-left: 70px;
	display: inline-block;
}
.search-type p{
	display: inline-block;
	cursor:pointer;/*鼠标箭头移到变为手型*/
    letter-spacing: 10px;
}
input[name='search-bar']{
	width: 600px;
	height: 40px;
	border-radius: 10px;
	border: 4px solid #707070;
	margin-left: 25px;
	margin-top: 30px;
	font-size: 20px;
}
.search-bar{
	transform: scale(0.7);
	display: inline-block;
	margin-left: -62px;
	margin-top: 30px;
	position: absolute;
}
.folder{
	width: 250px;
	height: 500px;
	margin-top: 60px;
	margin-left: 80px;
	/*background-color: black;*/
	/*overflow: scroll;*/
	display: inline-block;
    overflow: hidden;
}
.folder > select{
    width: 100%;
    height: 30px;
}
ul[class^="layer"]{
	list-style: none;
	padding-left: 0px;
	line-height: 28px;
	cursor: pointer;
}
ul[class^="layer"] > li > img{
    vertical-align: middle;
}
.search-result{
	width: 600px;
	height: auto;
	margin-left: 50px;
	margin-top: 60px;
	/*background-color: red;*/
	display: inline-block;
	vertical-align: top;
}
.search-result p{
	font-size: 16px;
	font-family: "Micro";
	/*font-weight: bold;*/
	padding-bottom: 10px;
}
ul.result{
	padding-left: 0px;
	list-style: none;
	margin-top: 15px;
}
ul.result li{
    width: 130px;
	display: inline-block;
	margin-right: 20px;
    padding-bottom: 10px;
}
ul.result li a{
    width: 120px;
    height: 30px;
	text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
ul.result li a:hover{
	color: blue;
	text-decoration: underline;
}
ul.result > li > img {
    width: 100px;
    display: block;
    height: 100px;
}
#more{
    width: 180px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
}
#over{
    width: 220px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    display: none;
}