.middle{
	height: 380px;
	position: relative;
}
.search-type{
	position: absolute;
	bottom: 74%;
	left: 20%;
}
.search-type > p{
	display: inline-block;
	cursor:pointer;/*鼠标箭头移到变为手型*/
}
input[name='search-bar']{
	width: 700px;
	height: 70px;
	border-radius: 10px;
	border: 4px solid #707070;
	position: absolute;
	bottom: 48%;
	left: 20%;
	font-size: 26px;
}
.search-bar{
	position: absolute;
	left: 73%;
	bottom: 52%;
	cursor:pointer;/*鼠标箭头移到变为手型*/
}
ul.popular-search{
	list-style: none;
	font-size: 12px;
	font-family: "FangSong";
	font-weight: 400;
	position: absolute;
	bottom: 40%;
	left: 18%;
	z-index: 555;
}
.popular-search li{
	color: black;
	display: inline-block;
}
.search-logo{
	position: absolute;
	bottom: 20px;
	left: 25%;
}
.intro-area{
	width: 1200px;
	height: 120px;
	margin-top: 15px;
	/*background-color: white;*/
}
.block{
	width: 250px;
	height: 96%;
	color: white;
	font-size: 28px;
	text-align: center;
	border: 4px solid #97a39d;
	float: left;
	margin-right: 50px;
}